button {
    color: black;
    font-size: 0.5em;
    font-family: Courier New, Helvetica, sans-serif;
    cursor: pointer;
    padding: 3%;
    border: none;
    border-radius: 10px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
body{
    background-color: #fafafa;
}
button:hover {
    background-color: #024d45;
    color: #fff;
}

button:focus {
    outline: 0;
    background-color: #024d45;
}

#input:focus {
    outline:none;
}

#beginner-btn{
    background-color: #F9D26D;
}

#easy-btn{
    background-color: #F7C66C;
}

#normal-btn{
    background-color: #F7B267;
}

#hard-btn{
    background-color: #F79D65;
}

#extreme-btn{
    background-color: #F4845F;
}

#solve-btn{
    background-color: #99E5C7;
    margin-left:50px;
    color: black;
    border: 1px solid white;
}

.max-550 {
    max-width: 600px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
}

.board {
    position: relative;
    margin-top: 5%;
    text-align: center;
    width: 100%;
    margin: auto;
    padding-top: 3%;
}

.row {
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.box {
    display: inline-block;
    width: 9.5%;
    text-align: center;
    padding: .5%;
}

.empty {
    cursor: default;
    border-radius: 25%;
    padding: 30%;
}

.empty:hover
{
    cursor: text;
}

.fixed {
    background-color: #E8E8E8;
    cursor: default;
    border-radius: 25%;
    padding: 30%;
}

.fixed0 {
    background-color: #E8E8E8;
    border-radius: 25%;
    padding: 30%;
}

.fixed1 {
    background-color: #E8E8E8;
    border-radius: 25%;
    padding: 30%;
}

.fixed2 {
    background-color: #E8E8E8;
    border-radius: 25%;
    padding: 30%;
}

.fixed3 {
    background-color: #E8E8E8;
    border-radius: 25%;
    padding: 30%;
}

.fixed4 {
    background-color: #E8E8E8;
    border-radius: 25%;
    padding: 30%;
}

.wrong {
    background-color: #EABBBB;
    cursor: default;
    border-radius: 25%;
    padding: 30%;
}

.right {
    background-color: #E8E8E8;
    cursor: default;
    border-radius: 25%;
    padding: 30%;
}

.border-right {
    border-right: 1px solid;
}

.border-bottom {
    border-bottom: 1px solid;
}