button {
    color: #fff;
    background-color: #009688;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    padding: 3%;
    border: none;
    border-radius: 50px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

button:hover {
    background-color: #024d45;
    color: #fff;
}

button:focus {
    outline: 0;
    background-color: #024d45;
}

#input:focus {
    outline:none;
}

#beginner-btn{
    background-color: #00e1ff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#easy-btn{
    background-color: #00ff4c;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#normal-btn{
    background-color: #fbff00;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#hard-btn{
    background-color: #ff9100;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#extreme-btn{
    background-color: #ff0000;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#solve-btn{
    background-color: white;
    margin-left:50px;
    color: black;
    border: 2px solid rgb(0, 0, 0);
}

.max-550 {
    max-width: 500px;
    margin: auto;
    text-align: center;
}

.board {
    position: relative;
    margin-top: 5%;
    text-align: center;
    width: 100%;
    margin: auto;
    padding-top: 3%;
}

.row {
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.box {
    display: inline-block;
    width: 9.5%;
    text-align: center;
    padding: .5%;
}

.empty {
    background-color: #ffffff;
    cursor: default;
    border-radius: 25%;
    padding: 30%;
}

.empty:hover
{
    cursor: text;
}

.fixed {
    background-color: #80cbc4;
    cursor: default;
    border-radius: 25%;
    padding: 30%;
}

.fixed0 {
    background-color: #00e1ff44;
    border-radius: 25%;
    padding: 30%;
}

.fixed1 {
    background-color: #00ff4c3d;
    border-radius: 25%;
    padding: 30%;
}

.fixed2 {
    background-color: #fbff004f;
    border-radius: 25%;
    padding: 30%;
}

.fixed3 {
    background-color: #ff91003f;
    border-radius: 25%;
    padding: 30%;
}

.fixed4 {
    background-color: #ff000046;
    border-radius: 25%;
    padding: 30%;
}

.wrong {
    background-color: #ffffff59;
    cursor: default;
    color: red;
    border-radius: 25%;
    padding: 30%;
}

.right {
    background-color: #ffffff28;
    cursor: default;
    border-radius: 25%;
    padding: 30%;
}

.border-right {
    border-right: 2px solid;
}

.border-bottom {
    border-bottom: 2px solid;
}